<h1><%= @list.name %></h1>
<p>Comentários:</p>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.comment %></li>
  <% end %>
</ul>

<p><%= link_to 'Deixe um comentário', new_list_bookmark_path(@list) %></p>
<p><%= link_to 'Voltar para o início', root_path %></p>


